.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#google-c {
    color: #4285F4;
}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Merriweather', serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

#banner {
    padding-bottom: 0;
    margin: 0;
}


#prompt {
    width: 600px;
    height: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

#right h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 0px;

}


.submit_form button {
    margin-left: 10px;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-family: 'Merriweather', serif;
    font-size: medium;
    background: rgb(66, 208, 66);
    margin-bottom: 50px;

}

#text_input {
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 260px;
    height: 150px;
}

#amenities-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.amenity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin-bottom: 0px;
}

.arrow-buttons {
    display: flex;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

.move-up,
.move-down {
    background-color: #ddd;
    border: none;
    color: #333;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}

#banner img {
    width: 1000px;
    max-height: 100%;
    display: block;
    margin-bottom: 20px;
}

.suggestions {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 590px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

#suggestions {
    margin-left: 10px;
    margin-right: auto;

}

.search_result {
    font-family: 'Merriweather', serif;
    padding: 1px;
    font-size: medium;

}

.search_result:hover {
    background: #efefef;
}

#results {
    display: flex;
    flex-direction: column;
    width: 1000px;
    /* margin-top: 50px; */
}

#results text {
    font-family: 'Merriweather', serif;

}

.hotel {
    border-bottom: 4mm ridge rgba(57, 154, 223, 0.6);

}

#hotels-container {
    margin-bottom: 100px;
}

.scrollable-container {
    max-height: 400px;
    overflow-y: auto;
    overflow: overlay;
    padding: 10px;
    border: 3px solid #333;
    display: flex;
    flex-direction: column;

}

/* .scrollable-container h2 {
    text-decoration: underline solid rgba(57, 154, 223, 0.6);
    text-underline-offset: 0.3em
} */

.scrollable-container h3 {
    text-decoration: underline solid rgb(66, 208, 66);
    text-underline-offset: 0.3em;
}

.attraction {
    border-bottom: 4mm ridge rgba(57, 154, 223, 0.6);
}

.thumbs-up, .thumbs-down {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
}

.thumbs-up {
    background-color: #2ba827;
    opacity: 0.5;
}

.thumbs-down {
    background-color: #f32c2c;
    opacity: 0.5;
}